<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd">
<!--1.开启service层的注解 -->
<context:component-scan base-package="com.service"/>
<!--2.加载db.properties-->
<context:property-placeholder location="classpath:properties/db.properties"/>
    <!--3.数据源 ds-->
    <bean id="ds" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl"   value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
<!--4.事务-->
    <bean id="tx" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds"/>
    </bean>
   <!--5.开启事务的注解 @Transactional -->
    <tx:annotation-driven transaction-manager="tx"/>

    <!--6.spring管理MyBatis-->
    <bean id="fb" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ds"/>
        <property name="configLocation"  value="classpath:mybatis/sqlMapConfig.xml"/>
        <!--<property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>-->
    </bean>

    <!--7.让mapper接口和mapper.xml关联，即使不在同一个文件夹下，依然可以使用包扫描的形式，加载所有的映射文件-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定mapper接口的路径-->
        <property name="basePackage" value="com.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="fb"/>
    </bean>

</beans>